* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	background-color: #000;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	line-height: 1.16;
	padding-bottom: 0;
	padding-right: 0 !important;
}

.title {
	display:inline-block;
	margin:0;
	width:100%;
	height:36px;
	text-align:center;
}

.title-text {
	font-size:30px;
	margin: 0 auto;
}

.title-text span {
	background-color: rgba(255,255,255,0.5);
  padding: 0 5px;
  border-radius: 5px;
	color: rgba(0, 0, 0, 0.3);
}

	.checkboxSection {
		background-color: rgba(255,255,255,0.5);
		padding: 5px;
		border-radius: 5px;
		position: absolute;
		top: 0;
		right: 94px;
	}
	
	.checkboxSection input[type=checkbox] {
		opacity: 0.5;
	}
	
	.checkboxSection label {
		padding-left: 5px;
		padding-right: 10px;
		color: rgba(0, 0, 0, 0.3);
	}

.none {
	display:none;
}

.content-wrap {
	width: 93%;
	padding: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
	margin: 5px auto 0 auto;
}

#container {
	width: 100%;
	clear:both;
	position: relative;
}

#calendar_div {
	width:100%;
	clear:both;
}

.calendar-wrap {
	width:100%;
	margin:0 auto;
	clear:both;
}

.calendar-wrap .cal-nav{
	color:#222;
	font-size:17px;
	text-align:center;
	padding: 5px 0;
	width:100%;
}

.calendar-wrap .cal-nav a {
	color:#222;
	text-decoration: none;
	font-size: 32px;
	font-weight: bold;
  background-color: rgba(255,255,255,0.5);
  padding: 0 3px;
  border-radius: 5px;
	border: 1px solid #888;
	position: relative;
	bottom: 4px;
}

.calendar-wrap .cal-nav a:hover {
	color:#fff;
	background-color: rgba(34,34,34,0.5);
}

.calendar-wrap .cal-nav a:first-child {
	float: left;
}

.calendar-wrap .cal-nav a:last-child {
	float: right;
}

.calendar-wrap select,
.today_btn {
	color: #222;
	font-size:21px;
}

.form-label {
	font-weight: bold;
}

.form-field {
	border: 1px solid #444;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
	margin-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

.form-field:focus {
	outline: none;
}

.form-radio-block {
	margin-bottom: 10px;
}

.form-field-select {
	font-size: 15px !important;
	padding: 3px;
	color: #000 !important;
}

.form-field-select option {
	color: #222;
}

.form-field-select option:disabled {
	color: #999;
}

#titleError,
#categoryError {
	font-weight: bold;
	color: #880000;
}

.month_dropdown,
.year_dropdown,
.today_btn,
.add_btn,
.cancel_btn,
.delEventBtn,
.modEventBtn,
.saveModEventBtn {
	height: 35px;
	padding: 1px 6px;
	background: rgba(255, 255, 255, 0.5);
	background-clip: padding-box;
	border-radius: 5px;
	border: 1px solid #888;
}

.month_dropdown:hover,
.year_dropdown:hover {
	background-color: rgba(34,34,34,0.5);
	color: #fff;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: bottom;
	user-select: none;
	background-color: transparent;
	border: 1px solid #888;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-secondary {
	color: #222;
	background: rgba(255, 255, 255, 0.5);
}
  
.btn-secondary:hover {
	color: #fff;
	background-color: rgba(34,34,34,0.5);
}
  
.btn-secondary:focus, .btn-secondary.focus {
	color: #fff;
	background-color: #5a6268;
	box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
  
.btn-secondary.disabled, .btn-secondary:disabled {
	color: #fff;
	background-color: #6c757d;
}
  
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #545b62;
}
  
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
  
.add_btn,
.saveModEventBtn {
	width: 60px;
    background-color: rgba(0,150,0,0.8);
    color: #fff;
}

.cancel_btn {
	width: 60px;
	background-color: rgba(220,0,0,0.8);
	color: #fff;
	float: right;
}

#current,
#maximum,
#currentDesc,
#maximumDesc {
	font-weight: normal;
}

.delEventBtn {
	width: 60px;
	background-color: rgba(30,30,220,0.8);
	color: #fff;
}

.modEventBtn {
	width: 60px;
	background-color: rgba(246, 191, 38, 0.8);
	color: #000;
	margin-right: 10px;
}

.calendar-days {
	width:100%;
	float:left;
	margin:0;
	padding:0;
}

.calendar-days ul {
	padding:0;
	margin:0;
	list-style-type:none;
	clear:both;
}

.calendar-days ul li {
	float:left;
	width:14.13%;
	border:1px solid #444444;
	text-align:center;
	font-size:16px;
	min-height:0;
	padding:2px;
	margin: 1px;
}

.calendar-days ul li span {
	color: #fff;
	mix-blend-mode: difference;
}

.calendar-dates {
	width:100%;
	margin:0;
	float:left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.calendar-dates ul {
	margin:0;
	padding:0;
	list-style-type:none;
	clear:both;
}

.calendar-dates ul li {
	float:left;
	width:14.13%;
	text-align:center;
	font-size:20px;
	border:1px solid #444444;
	background:none;
	box-shadow:none;
	padding: 0 0 6.25% 0;
	position:relative;
	margin: 1px;
}

.calendar-dates ul li .event {
	font-size: 14px;
}

.calendar-dates ul li span {
	margin-right:7px;
	text-align:center;
}

.dayNumber {
	color: #fff;
	mix-blend-mode: difference;
	cursor: pointer;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
}

.date_cell span,
.date_cell span a {
	color: #fff;
}

.date_cell:hover,
.no_date:hover,
.calendar-days ul li:hover {
	background: rgba(128,128,128,0.6);
}

.date_cell:hover span,
.calendar-days ul li:hover span {
	color: #000;
	mix-blend-mode: normal;
}

.calendar-dates ul li.this_day:hover {
	background-color:rgba(0,192,0,0.6);
}

.calendar-dates ul li.this_day span {
	color: #ccc;
}

.calendar-dates ul li.has_event {
	background-color: rgba(255,255,0,0.7);
}

.calendar-dates ul li.has_event span,
.calendar-dates ul li.has_event span a {
	mix-blend-mode: normal;
	color: #000;
}

.calendar-dates ul li.has_event:hover {
	background-color: rgba(225,225,0,1);
}

.calendar-dates ul li.has_2_multi {
	background-color: rgba(255,165,0,0.75);
}

.calendar-dates ul li.has_2_multi span,
.calendar-dates ul li.has_2_multi span a {
	mix-blend-mode: normal;
	color: #000;
}

.calendar-dates ul li.has_2_multi:hover {
	background-color: rgba(225,135,0,1);
}

.calendar-dates ul li.has_3_multi {
	background-color: rgba(255,0,0,0.8);
}

.calendar-dates ul li.has_3_multi span,
.calendar-dates ul li.has_3_multi span a {
	mix-blend-mode: normal;
	color: #000;
}

.calendar-dates ul li.has_3_multi:hover {
	background-color: rgba(225,0,0,1);
}

.calendar-dates ul li.has_4_multi {
	background-color: rgba(128,0,128,0.85);
}

.calendar-dates ul li.has_4_multi span,
.calendar-dates ul li.has_4_multi span a {
	mix-blend-mode: normal;
	color: #fff;
}

.calendar-dates ul li.has_4_multi:hover {
	background-color: rgba(98,0,98,1);
}

.calendar-dates ul li.has_5_multi {
	background-color: rgba(0,0,255,0.9);
}

.calendar-dates ul li.has_5_multi span,
.calendar-dates ul li.has_5_multi span a {
	mix-blend-mode: normal;
	color: #fff;
}

.calendar-dates ul li.has_5_multi:hover {
	background-color: rgba(0,0,225,1);
}

.calendar-dates ul li.has_multi {
	background-color: rgba(60,60,60,0.95);
}

.calendar-dates ul li.has_multi span,
.calendar-dates ul li.has_multi span a {
	mix-blend-mode: normal;
	color: #fff;
}

.calendar-dates ul li.has_multi:hover {
	background-color: rgba(30,30,30,1);
}

.calendar-dates ul li.this_day {
	border: 4px ridge #888888;
	padding: 0 0 6.25% 0;
}

.calendar-dates ul li.past_day {
	cursor: auto;
}

.calendar-dates ul li.past_day span,
.calendar-dates ul li.past_day span a {
	color: #ccc;
}

.calendar-dates ul li.past_day:hover {
	background-color: rgba(128,128,128,0.6);
}

.calendar-dates ul li.past_day:hover span,
.calendar-dates ul li.this_day:hover span,
.calendar-dates ul li.past_day:hover span a,
.calendar-dates ul li.this_day:hover span a {
		color: #000;
	mix-blend-mode: normal;
}

.calendar-dates ul li.expanded {
	padding: 0 0 8.012% 0;
}

.calendar-dates ul li.expanded .event {
	font-size: 14px;
}

.calendar-dates ul li.this_day.expanded,
.calendar-dates ul li.today_event.expanded,
.calendar-dates ul li.today_2_multi.expanded,
.calendar-dates ul li.today_3_multi.expanded,
.calendar-dates ul li.today_4_multi.expanded,
.calendar-dates ul li.today_multi.expanded {
	padding: 0 0 calc(8.012% - 6px) 0;
}

.one_event.masked {
	background-color: rgba(0, 0, 0, 0.78) !important;
}

.two_event.masked {
	background-color: rgba(0, 0, 0, 0.82) !important;
}

.three_event.masked {
	background-color: rgba(0, 0, 0, 0.86) !important;
}

.four_event.masked {
	background-color: rgba(0, 0, 0, 0.90) !important;
}

.five_event.masked {
	background-color: rgba(0, 0, 0, 0.94) !important;
}

.multi_event.masked {
	background-color: rgba(0, 0, 0, 0.98) !important;
}

.one_event.masked span:hover,
.two_event.masked span:hover,
.three_event.masked span:hover,
.four_event.masked span:hover,
.five_event.masked span:hover,
.multi_event.masked span:hover,
.masked:hover .holiday {
	color: #ccc;
	background-color: #000;
}

.category-life,
.category-house,
.category-work,
.category-finance,
.category-medical,
.category-misc,
.category-difference {
	height: 22px;
	border-radius: 5px;
	text-align: left;
	padding: 3px 0 4px 10px;
	width: 95%;
	overflow: hidden;
	cursor: pointer;
	font-weight: bold;
}

.category-life {
	background-color: rgb(142, 36, 170);
	color: #fff;
}

.category-house {
	background-color: rgb(246, 191, 38);
	color: #000;
}

.category-work {
	background-color: rgb(213, 0, 0);
	color: #fff;
}

.category-finance {
	background-color: rgb(11, 128, 67);
	color: #fff;
}

.category-medical {
	background-color: rgb(3, 155, 229);
	color: #000;
}

.category-misc {
	background-color: rgba(244, 81, 30);
	color: #000;
}

.category-difference {
	color: #fff;
	mix-blend-mode: difference;
}

.date_cell:hover .category-difference, .no_date:hover .category-difference, .calendar-days ul li:hover .category-difference {
	mix-blend-mode: normal;
}

/*========== Hover Popup ===============*/
.date_popup_wrap {
	position: absolute;
	width: 60%;
	height: 70%;
	z-index: 9999;
	top: 1px;
	left: 1px;
	background-color: #ffffff;
	border-radius:5px !important;
	box-shadow: 3px 3px 2px #000000;
	color: #666 !important;
	opacity:0.9;
}

.events_window {
	overflow: hidden;
	overflow-y: auto;
	width: 133px;
	height: 115px;
	margin-top: 28px;
	margin-left: 25px;
}

.event_wrap {
	margin-bottom: 10px; padding-bottom: 10px;
	border-bottom: solid 1px #E4E4E7;
	font-size: 12px;
	padding: 3px;
}

.date_window {
	margin:3px;
	padding: 3px;
	font-size: 12px;
}

.popup_event {
	margin-bottom: 2px;
	padding: 1px;
	font-size: 14px;
	width:100%;
}

.popup_event a {
	color: #000000 !important;
}

.popup_event a:hover {
	color: #181919 !important;
	text-decoration: underline !important;
}

.eventList {
	padding: 10px 0;
	width: 100%;
	border-collapse: collapse;
}

#event_list,
#event_add,
#event_update,
#solo_event,
#mod_event {
	background: rgba(255, 255, 255, 0.5);
	color: #000;
	margin-bottom: 5px;
	padding: 5px;
	clear: both;
}

.eventList th {
	border-bottom: 1px solid #000;
}

.eventItem {
	padding: 3px 10px 3px 0;
}

.eventList tr:not(:last-child) {
    border-bottom: 1px solid #666;
}

td.eventItem:first-child {
	padding-left: 5px;
	white-space: nowrap;
}

.deleteButton {
	display:inline;
}

.alert {
	padding:10px !important;
	margin-bottom:10px !important;
	border:none;
}

.column {
	flex-grow: 1;
	background-color: #fff;
	min-height: 300px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

.signInContainer {
	background-color: #000;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signInContainer .column .header img {
	width:250px;
}

.signInContainer .column {
	flex-grow:0;
	width:450px;
	padding: 10px 15px;
	max-height: 100%;
	overflow-y: auto;
}

.signInContainer .column .header {
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.signInContainer .column .header h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	margin: 0;
	padding-bottom: 0;
}

.signInContainer .column .header span {
	font-size: 14px;
}

.signInContainer .column form {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.signInContainer .column form input[type="text"],
.signInContainer .column form input[type="email"],
.signInContainer .column form input[type="password"] {
	font-size: 14px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px;
}

.signInContainer .column .form-group {
	margin-bottom: 5px;
}

.signInContainer .column form input[type="file"] {
	margin: 5px 0;
	width: 100%;
}

.signInContainer .column form select {
	padding: 5px;
	margin: 5px 0;
}

.signInContainer .column form input[type="submit"] {
	background: #4285f4;
	color: #fff;
	height: 39px;
	width: 88px;
	border: none;
	border-radius: 3px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
}

.signInContainer form {
	width: 80%;
	margin: 0 auto;
}

.signInContainer .alert {
	padding:10px !important;
	margin-bottom:10px !important;
	border:none;
}

.signInMessage {
	font-size: 14px;
	font-weight: 400;
	color: #212529;
}

.errorMessage {
	color: #f00;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.logoutMessage {
	position: absolute;
	top: 6px;
	right: 0;
	height: 0;
	font-size: 18px;
}

.signoutMessage {
	color: #155724;
	background-color: #d4edda;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #155724;
}

.endsessionMessage {
	color: #721c24;
	background-color: #f8d7da;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #721c24;
}

.loginMessage,
.settingsEl {
	top: 6px;
	height: 0;
	font-size:16px;
}

.loginMessage {
	position:relative;
	left: 0;
}

.settingsEl {
	position:absolute;
	right: 0;
}

.loginMessageLink,
.settingsLink {
	text-decoration: none;
	color:#222;
	font-weight: bold;
  background-color: rgba(255,255,255,0.5);
  padding: 6px 3px;
  border-radius: 3px;
	border: 1px solid #888;
}

.loginMessageLink:hover, 
.settingsLink:hover {
	color: #fff;
	background-color: rgba(34,34,34,0.5);
	text-decoration: none;
}

.settingsContainer {
	margin-top: 20px;
}

.settingsContainer form {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.settingsContainer .title {
	font-weight: bold;
	display: block;
	margin:0;
	width:100%;
	height:20px;
	text-align:center;
}

.message {
	border: none;
}

.centered {
	text-align: center;
}

.righted {
	text-align: right;
}

.settingsContainer .formSection:not(:last-child) {
	margin-bottom: 10px;
	border-bottom: 1px solid #dedede;
}

.signInContainer .column .settingsContainer form input[type="text"], 
.signInContainer .column .settingsContainer form input[type="email"], 
.signInContainer .column .settingsContainer form input[type="password"] {
    font-size: 14px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}

.signInContainer .column .settingsContainer form input[type="submit"] {
    background: #4285f4;
    color: #fff;
    height: 30px;
    width: 88px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
}

.signInContainer .settingsContainer .alert {
    padding: 10px !important;
    margin-bottom: 5px !important;
    border: none;
}

.holiday {
	height: 0;
	width: 100%;
	font-size: 14px;
	position: absolute;
	bottom: 16px;
	left: 0;
	mix-blend-mode: difference;
}

.event {
	height: 0;
	width: 100%;
	position: absolute;
	top: 24px;
	left: 0;
}
.hideImage {
	background-image: none !important;
}

.modal {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1050;
	display:none;
	overflow:hidden;
	outline:0;
}

.modal-dialog {
	position:relative;
	width:auto;
	margin:.5rem;
}

.modal.fade .modal-dialog {
	transition:transform .3s ease-out;
	transform:translate(0,-25%);
}

.modal.show .modal-dialog {
	transform:translate(0,0);
}

.modal-dialog-centered {
	display:flex;
	align-items:center;
	min-height: 90%;
}

.modal-content {
	position:relative;
	display:flex;
	flex-direction:column;
	width:100%;
	background-color:#fff;
	background-clip:padding-box;
	border:1px solid rgba(0,0,0,.2);
	border-radius:.3rem;
	outline:0;
}

.modal-backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1040;
	background-color:#000;
}

.modal-backdrop.fade {
	opacity:0;
}

.modal-backdrop.show {
	opacity:.5;
}

.modal-header {
	display:flex;
	align-items:flex-start;
	justify-content:space-between;
	padding:1rem;
	border-bottom:1px solid #e9ecef;
	border-top-left-radius:.3rem;
	border-top-right-radius:.3rem;
}

.modal-header .close {
	padding:1rem;
	margin:-1rem -1rem -1rem auto;
}

.modal-body {
	position:relative;
	flex:1 1 auto;
	padding:1rem;
}

.modal-scrollbar-measure {
	position:absolute;
	top:-9999px;
	width:50px;
	height:50px;
	overflow:scroll;
}

.close {
	float:right;
	font-size:1.5rem;
	font-weight:700;
	line-height:1;
	color:#000;
	text-shadow:0 1px 0 #fff;
	opacity:.5;
}

.close:focus,
.close:hover {
	color:#000;
	text-decoration:none;
	opacity:.75;
}

.close:not(:disabled):not(.disabled) {
	cursor:pointer;
}

button.close {
	padding:0;
	background-color:transparent;
	border:0;
}

@media (min-width:576px) {
	.modal-dialog {
		max-width:500px;
		margin: 0 auto;
	}
}

@media (max-width:1880px) {
	.calendar-dates ul li.expanded .event {
		font-size: 12px;
	}
	
	.calendar-dates ul li .event {
		font-size: 10px;
	}
	
	.category-life,
	.category-house,
	.category-finance,
	.category-misc,
	.category-difference {
		height: 16px;
	}
}

@media (max-width:1700px) {
	.calendar-dates ul li.expanded .event {
		font-size: 10px;
	}

	.calendar-dates ul li .event {
		font-size: 8px;
	}
	
	.category-life,
	.category-house,
	.category-finance,
	.category-misc,
	.category-difference {
		height: 14px;
	}
}

@media (max-width:1500px) {
	.holiday {
		font-size: 11px;
		bottom: 13px;
	}

	.calendar-dates ul li.expanded {
		padding: 0 0 8.147% 0;
	}
	
	.calendar-dates ul li.this_day.expanded,
	.calendar-dates ul li.today_event.expanded,
	.calendar-dates ul li.today_2_multi.expanded,
	.calendar-dates ul li.today_3_multi.expanded,
	.calendar-dates ul li.today_4_multi.expanded,
	.calendar-dates ul li.today_multi.expanded {
		padding: 0 0 calc(8.147% - 6px) 0;
	}

	.calendar-dates ul li.expanded .event {
		font-size: 8px;
	}

	.calendar-dates ul li .event {
		font-size: 6px;
	}
	
	.category-life,
	.category-house,
	.category-finance,
	.category-misc,
	.category-difference {
		height: 12px;
	}
}

@media (max-width:1410px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 14.12%;
	}
}

@media (max-width:1380px) {
	.holiday {
		font-size: 10px;
		bottom: 12px;
	}

	.calendar-dates ul li.expanded {
		padding: 0 0 8.194% 0;
	}
	
	.calendar-dates ul li.this_day.expanded,
	.calendar-dates ul li.today_event.expanded,
	.calendar-dates ul li.today_2_multi.expanded,
	.calendar-dates ul li.today_3_multi.expanded,
	.calendar-dates ul li.today_4_multi.expanded,
	.calendar-dates ul li.today_multi.expanded {
		padding: 0 0 calc(8.194% - 6px) 0;
	}
}

@media (max-width:1325px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 14.11%;
	}
}

@media (max-width:1250px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 14.10%;
	}

	.date_popup_wrap {
		width: 80%;
		height: 85%;
	}

	.holiday {
		font-size: 9px;
		bottom: 11px;
	}

	.popup_event {
		font-size: 15px;
	}

	.calendar-dates ul li.expanded {
		padding: 0 0 8.277% 0;
	}
	
	.calendar-dates ul li.this_day.expanded,
	.calendar-dates ul li.today_event.expanded,
	.calendar-dates ul li.today_2_multi.expanded,
	.calendar-dates ul li.today_3_multi.expanded,
	.calendar-dates ul li.today_4_multi.expanded,
	.calendar-dates ul li.today_multi.expanded {
		padding: 0 0 calc(8.277% - 6px) 0;
	}

	.none h2 {
		font-size: 1.25em;
	}

	.eventList {
		font-size: 15px;
	}
}

@media (max-width:1190px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 14.09%;
	}
}

@media (max-width:1130px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 14.08%;
	}
}

@media (max-width:1080px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 14.07%;
	}
}

@media (max-width:1030px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 14.06%;
	}
}

@media (max-width:980px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 14.05%;
	}
}

@media (max-width:940px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 14.04%;
	}

	.date_popup_wrap {
		width: 80%;
		height: 80%;
	}

	.date_window {
		font-size: 10px;
	}

	.popup_event {
		font-size: 14px;
	}

	.holiday {
		font-size: 8px;
		bottom: 14px;
	}

	.calendar-dates ul li.expanded {
		padding: 0 0 8.525% 0;
	}
	
	.calendar-dates ul li.this_day.expanded,
	.calendar-dates ul li.today_event.expanded,
	.calendar-dates ul li.today_2_multi.expanded,
	.calendar-dates ul li.today_3_multi.expanded,
	.calendar-dates ul li.today_4_multi.expanded,
	.calendar-dates ul li.today_multi.expanded {
		padding: 0 0 calc(8.525% - 6px) 0;
	}

	.none h2 {
		font-size: 1.2em;
	}

	.eventList {
		font-size: 14px;
	}
}

@media (max-width:900px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 14.01%;
	}
}

@media (max-width:850px) {
	.title {
		height:35px;
	}
	
	.title-text {
		font-size:28px;
	}

	.month_dropdown,
	.year_dropdown,
	.today_btn,
	.add_btn,
	.cancel_btn,
	.delEventBtn,
	.modEventBtn {
		height: 29px;
	}

	.calendar-wrap select,
	.today_btn {
		font-size:16px;
	}

	.calendar-wrap .cal-nav a {
		font-size: 25px;
	}
	
	.calendar-wrap select {
		font-size:20px;
	}

	.calendar-days ul li {
		font-size:12px;
	}

	.calendar-dates ul li {
		font-size: 16px;
	}

	.calendar-dates ul li span {
		margin-right:5px;
	}

	.date_window {
		padding: 2px;
		font-size: 9px;
		margin-bottom: 2px;
		margin-left: 2px;
		margin-right: 2px;
	}

	.popup_event {
		font-size: 12px;
	}

	.logoutMessage {
		font-size: 14px;
	}

	.endSessionMessage {
		font-size: 14px;
	}

	.holiday {
		font-size: 7px;
		bottom: 13px;
	}

	.event {
		top: 20px;
	}
	
	.calendar-dates ul li.expanded {
		padding: 0 0 8.529% 0;
	}
	
	.calendar-dates ul li.this_day.expanded,
	.calendar-dates ul li.today_event.expanded,
	.calendar-dates ul li.today_2_multi.expanded,
	.calendar-dates ul li.today_3_multi.expanded,
	.calendar-dates ul li.today_4_multi.expanded,
	.calendar-dates ul li.today_multi.expanded {
		padding: 0 0 calc(8.529% - 6px) 0;
	}
}

@media (max-width:790px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 14.00%;
	}
}

@media (max-width:760px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 13.99%;
	}
}

@media (max-width:736px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 13.98%;
	}
}

@media (max-width:720px) {
	.title {
		height:32px;
	}
	
	.title-text {
		font-size:25px;
	}

	.month_dropdown,
	.year_dropdown,
	.today_btn,
	.add_btn,
	.cancel_btn,
	.delEventBtn,
	.modEventBtn {
		height: 27px;
	}

	.calendar-wrap .cal-nav a {
		font-size: 21px;
	}
	
	.calendar-wrap select,
	.today_btn {
		font-size:16px;
	}

	.date_window {
		padding: 0;
		font-size: 8px;
		margin-bottom: 2px;
		margin-left:0;
		margin-right:0;
	}

	.popup_event {
		font-size: 11px;
	}

	.loginMessage {
		font-size: 14px;
	}

	.settingsEl {
		font-size: 14px;
	}

	.holiday {
		font-size: 6px;
		bottom: 12px;
	}

	.calendar-dates ul li.expanded {
		padding: 0 0 8.71% 0;
	}
	
	.calendar-dates ul li.this_day.expanded,
	.calendar-dates ul li.today_event.expanded,
	.calendar-dates ul li.today_2_multi.expanded,
	.calendar-dates ul li.today_3_multi.expanded,
	.calendar-dates ul li.today_4_multi.expanded,
	.calendar-dates ul li.today_multi.expanded {
		padding: 0 0 calc(8.71% - 6px) 0;
	}

	.none h2 {
		font-size: 1.1em;
	}

	.eventList {
		font-size: 13px;
	}
}

@media (max-width:712px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 13.97%;
	}
}

@media (max-width:690px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 13.96%;
	}
}

@media (max-width:670px) {
	.calendar-days ul li,
	.calendar-dates ul li {
		width: 13.95%;
	}
}

@media (max-width:660px) {
	.title {
		height:30px;
	}
	
	.title-text {
		font-size:23px;
	}

	.month_dropdown,
	.year_dropdown,
	.today_btn,
	.add_btn,
	.cancel_btn,
	.delEventBtn,
	.modEventBtn {
		height: 26px;
	}

	.calendar-wrap .cal-nav a {
		font-size: 20px;
	}
	
	.calendar-wrap select,
	.today_btn {
		font-size:12px;
	}

	.calendar-days ul li {
		font-size:10px;
	}
	
	.calendar-dates ul li{
		font-size: 14px;
	}

	.calendar-dates ul li span{
		margin-right:3px;
	}

	.date_window {
		padding: 1px;
		font-size: 7px;
		margin-bottom: 2px;
		margin-left:0;
		margin-right:0;
	}

	.popup_event {
		font-size: 11px;
	}

	.loginMessage {
		font-size: 12px;
	}

	.settingsEl {
		font-size: 12px;
	}

	.holiday {
		font-size: 6px;
	}

	.holiday {
		font-size: 5px;
		bottom: 11px;
	}

	.calendar-dates ul li.expanded {
		padding: 0 0 8.77% 0;
	}
	
	.calendar-dates ul li.this_day.expanded,
	.calendar-dates ul li.today_event.expanded,
	.calendar-dates ul li.today_2_multi.expanded,
	.calendar-dates ul li.today_3_multi.expanded,
	.calendar-dates ul li.today_4_multi.expanded,
	.calendar-dates ul li.today_multi.expanded {
		padding: 0 0 calc(8.77% - 6px) 0;
	}
}

@media (max-width:610px) {
	.title {
		height:29px;
	}
	
	.title-text {
		font-size:22px;
	}


	.month_dropdown,
	.year_dropdown,
	.today_btn {
		height: 25px;
	}

	.calendar-wrap .cal-nav a {
		font-size: 18px;
	}
	
	.calendar-wrap select,
	.today_btn {
		font-size:10px;
	}

	.calendar-days ul li {
		font-size:8px;
	}
	
	.calendar-dates ul li{
		font-size: 12px;
	}

	.calendar-dates ul li span{
		margin-right:2px;
	}

	.date_window {
		padding: 0;
		font-size: 6px;
		margin-bottom: 2px;
		margin-left:0;
		margin-right:0;
	}

	.popup_event {
		font-size: 9px;
	}

	.loginMessage {
		font-size: 10px;
	}

	.settingsEl {
		font-size: 10px;
	}

	.logoutMessage {
		font-size: 10px;
	}

	.endSessionMessage {
		font-size: 10px;
	}

	.holiday {
		font-size: 4px;
		bottom: 10px;
	}
}

@media (max-width:460px) {
	.title {
		height:23px;
	}
	
	.title-text {
		font-size:16px;
	}

	.month_dropdown,
	.year_dropdown,
	.today_btn {
		height: 20px;
	}

	.calendar-wrap .cal-nav a {
		font-size: 20px;
	}
	
	.calendar-wrap select,
	.today_btn {
		font-size:8px;
	}

	.popup_event {
		font-size: 8px;
	}

	.holiday {
		font-size: 3px;
		bottom: 9px;
	}

	.calendar-dates ul li.expanded {
		padding: 0 0 9.21% 0;
	}
	
	.calendar-dates ul li.this_day.expanded,
	.calendar-dates ul li.today_event.expanded,
	.calendar-dates ul li.today_2_multi.expanded,
	.calendar-dates ul li.today_3_multi.expanded,
	.calendar-dates ul li.today_4_multi.expanded,
	.calendar-dates ul li.today_multi.expanded {
		padding: 0 0 calc(9.21% - 6px) 0;
	}
}

.list_column {
	color: #cccccc;
	list-style-type: none;
	float: left;
	/*width: calc(12.5% - 10px);*/
	/*min-width: 110px;*/
	border: 1px solid #222222;
	margin: 10px 5px 0 5px;
}

.list_column_title {
	font-weight: bold;
	text-align: center;
	padding: 3px;
	text-shadow: 1px 1px #aaa, 2px 2px #777, 3px 3px #444, 4px 4px #111;
}

.list_column_item {
	width: 4%;
	min-width: 69.92px;
	text-align: center;
	float: left;
}

.list_column_item a {
	display: block;
	width: 100%;
	height: 28px;
	line-height: 28px;
	text-decoration: none;
	color: #cccccc;
}

.list_column_item:hover {
	background-color: #333333;
}
